.right {
	color: green;
}

.unright {
	color: red;
}

input {
	font-size: 16px;
}

.dano {
	margin-bottom: 100px;
	padding-bottom: 20px;
	border-bottom: 5px solid rgb(125, 125, 125);
}

.examples {
	display: inline-block;
}

.build {
	margin-bottom: 100px;
	padding-bottom: 20px;
	border-bottom: 5px solid rgb(125, 125, 125);
}

.build__area-row {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
	justify-content: space-between;
	padding-top: 50px;
}

.build__area-wrapper {
	width: 100%;
	height: 100%;
}

.build__area-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 20px;
}

.build__area {
	position: relative;
	width: 100%;
	height: 800px;
	margin-bottom: 100px;
}

.build__area::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 10px;
	background: #000;
}

.build__area .build__line--green {
	left: 37.5%;
}

.build__area .build__line--orange {
	left: 35%;
}

.build__area-input {
	display: inline-block;
	position: absolute;
	transform: translate(195px, -50%);
	width: 30px;
	border: none !important;
	outline: none !important;
	background: rgba(194, 193, 193, 0.5) !important;
	z-index: 4;
}

.build__figures-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 150px;
	padding-left: 100px;
}

.build__figures-column {
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid silver;
	margin-right: 50px;
}

.build__figures-column:last-child {
	margin-right: 0px;
}

.build__figures-column .build__line--green {
	width: 100%;
	left: 0;
}

.build__figures-column .build__line--orange {
	width: 100%;
	left: 0;
}

.build__line {
	position: absolute;
	height: 7px;
	width: 160px;
	transition: opacity 0.3s;
	cursor: pointer;
}

.build__line:hover {
	opacity: 0.5;
}

.build__line::before,
.build__line::after {
	content: '';
	display: block;
	position: absolute;
	left: 100%;
	width: 40px;
	height: 7px;
}

.build__line::before {
	transform: translate(-100%) rotate(20deg);
	top: -7px;
}

.build__line::after {
	transform: translate(-100%) rotate(-20deg);
	top: 7px;
}

.build__line--blue {
	background: blue;
}

.build__line--blue::before,
.build__line--blue::after {
	background: blue;
}

.build__line--red {
	background: red;
}

.build__line--red::before,
.build__line--red::after {
	background: red;
}

.build__line--green {
	width: 25%;
	height: 3px;
	left: 0;
	background: green;
	z-index: 2;
}

.build__line--green::before,
.build__line--green::after {
	background: green;
	height: 3px;
}

.build__line--orange {
	width: 30%;
	left: 0;
	background: orange;
	z-index: 3;
	height: 3px;
}

.build__line--orange::before,
.build__line--orange::after {
	background: orange;
	height: 3px;
}
